<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081325852549-l7kg4lfv0mt2fqb8c7b7v9qk8sgmpqho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081325852549-l7kg4lfv0mt2fqb8c7b7v9qk8sgmpqho</string>
	<key>API_KEY</key>
	<string>AIzaSyDU1fby21Z3wUI101zIZEfeFmlupvJmsts</string>
	<key>GCM_SENDER_ID</key>
	<string>1081325852549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notepad</string>
	<key>PROJECT_ID</key>
	<string>notepad-96acd</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-96acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081325852549:ios:5cca303ee3c90288f296ec</string>
</dict>
</plist>